<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TechLab.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70041AC41C4596B0006CB5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70041AD51C4596B0006CB5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70041AE01C4596B0006CB5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
